body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f6fef2;
}

#logo {
  background-image: url("../../assets/img/logoB.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: 60px;
  width: 210px;
}

.navlink1 {
  font-size: 13px;
  letter-spacing: .4px;
  font-weight: 400;
}

.navlink1:hover {
  color: #1c4f00 !important;
}

.navbtn {
  background: #1c4f00;
  color: #fff !important;
  padding: 8px 20px 9px 20px !important;
  margin-left: 15px;
  font-size: 13px;
  letter-spacing: .4px;
  font-weight: 400;
}

@media (max-width: 48px) {
  .navbtn {
  }
}

div.row {
  margin-left: 0;
  margin-right: 0;
}

.login-h {
  font-size: 35px;
  font-weight: 600;
}

.login-p {
  font-weight: 300;
}

.link2 {
  color: #1c4f00;
  font-weight: 300;
  letter-spacing: .3px;
  font-size: 13px;
}

.link1 {
  color: #1c4f00;
  font-weight: 300;
  letter-spacing: .3px;
}

.link1:hover {
  text-decoration: none;
  color: #1c4f00;
  cursor: pointer !important;
}

.link2:hover {
  text-decoration: none;
  color: #1c4f00;
  cursor: pointer !important;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.main-login {
  margin-top: 100px;
}

.input-box {
  border-radius: 0;
  letter-spacing: 1px;
}

.input-box:focus, .input-box:active {
  border-color: #1c4f00;
  border: 2px solid #1c4f00;
  box-shadow: none;
}

.star {
  color: red;
  margin-left: 5px;
}

.field-label {
  letter-spacing: .3px;
  font-weight: 300;
}

.btn1 {
  background: #1c4f00;
  color: #fff !important;
  font-size: 14px;
  letter-spacing: .4px;
  padding: 8px 18px 9px 18px;
  font-weight: 400;
  border-radius: 0;
}

.search-btn {
  background: #1c4f00;
  color: #fff !important;
  font-size: 14px;
  letter-spacing: .4px;
  border-radius: 0;
}

.search-btn:hover {
  color: #fff !important;
  background: #1c4f00;
  box-shadow: 0 4px 17px rgba(14,68,4,0.35) !important;
  text-decoration: none;
}

.btn1:focus, .btn1:active {
  box-shadow: none;
}

.btn1:hover {
  color: #fff !important;
  background: #1c4f00;
  box-shadow: 0 4px 17px rgba(14,68,4,0.35) !important;
  text-decoration: none;
}

.navbtn:hover {
  color: #fff !important;
  background: #1c4f00;
  box-shadow: 0 4px 17px rgba(14,68,4,0.35) !important;
  text-decoration: none;
}

@media (max-width: 480px) {
  .pull-right2 {
    float: none !important;
  }
}

.pull-right2 {
  float: right;
}

.pull-right {
  float: right;
}

.asset span {
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.asset {
  background-size: cover;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.float-ease {
  animation: float 5s infinite ease;
}

.float-ease-in {
  animation: float 2s infinite ease-in;
}

.float-ease-in-out {
  animation: float 2s infinite ease-in-out;
}

.float-ease-out {
  animation: float 2s infinite ease-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 482px) {
  .desktop-hidden {
    display: none;
  }
}

.hidden {
  display: none;
}

.accordion-card {
  background: none;
  border: none;
}

.accordion-card-header {
  background: none;
  border: none;
}

.accordion-card-link {
  color: #1c4f00;
  font-size: 14px;
  letter-spacing: .3px;
}

.accordion-card-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #1c4f00;
}

.accordion-card-p {
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 300;
}

@media (max-width: 480px) {
  .accordion-div {
    width: 100% !important;
  }
}

#logo2 {
  background-image: url("../../assets/img/logoB.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 180px;
  height: 45px;
}

.dropdown1 {
  font-size: 13px;
  letter-spacing: .4px;
  font-weight: 400;
}

.dropdown1::after {
  display: none !important;
  content: none;
}

.accordion-div {
  width: 60%;
}

.no-caret::after {
  display: none;
}

@media (max-width: 768px) {
  .mobile-hidden-768px {
    display: none;
  }
}

.search {
  width: 480px !important;
}

.search::placeholder {
  font-style: italic;
  font-weight: 200;
  color: #b5b5b5;
  font-size: 12px;
}

.card1 {
  border: none;
  border-radius: 0;
}

.sidebar-nav {
  font-size: 14px;
  letter-spacing: .4px;
  font-weight: 300;
  color: #000;
  transition: .2s;
}

.sidebar-nav:hover {
  color: #1c4f00;
  cursor: pointer;
  border-left: 3px solid #1c4f00;
  background: #fcfffa;
  font-weight: 400;
}

.sidebar-nav.active {
  color: #1c4f00;
  cursor: pointer;
  border-left: 3px solid #1c4f00;
  transition: .2s;
  background: #fcfffa;
  font-weight: 400;
}

.dropdown1-item:hover {
  /*background: #fcfffa;*/
}

.dashboard-h {
  font-weight: 600;
  font-size: 30px;
}

.breadcrumb {
  background: none;
}

.breadcrumb a {
  color: #6a6a6a;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .4px;
}

.breadcrumb a:hover {
  color: #1c4f00;
  text-decoration: none;
}

.badge-g {
  background: rgba(100,204,141,0.19);
  color: #64cc8d;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 400;
  border: 1px solid #64cc8d;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.badge-y {
  background: rgba(255,199,0,0.13);
  color: #e7b606;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 400;
  border: 1px solid #e7b606;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.badge-b {
  background: rgba(255,199,0,0.13);
  color: #e7b606;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 400;
  border: 1px solid #e7b606;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.badge-r {
  background: rgba(207,36,36,0.13);
  color: #cf2424;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 400;
  border: 1px solid #cf2424;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.badge-b {
  background: rgba(6,150,231,0.13);
  color: #0696e7;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 400;
  border: 1px solid #0696e7;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.hidden {
  display: none;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #1b4f08;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: none;
}

.page-link:hover {
  z-index: 2;
  color: #1b4f08;
  text-decoration: none;
  background-color: #f4f9f5;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-copy {
  border-color: #1c4f00;
  background: rgba(100, 204, 141, 0.19);
  color: #1c4f00;
}

.buttons-copy:hover {
  border-color: #1c4f00;
  background: rgba(100, 204, 141, 0.09);
  color: #1c4f00;
}

.buttons-colvis {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-colvis:hover {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
}

.buttons-page-length {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-page-length:hover {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
}

.buttons-csv {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-excel {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-excel:hover {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
}

.buttons-pdf {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-pdf:hover {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
}

.buttons-print {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.19);
  color: #1c4f00;
}

.buttons-print:hover {
  border-color: #1c4f00;
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1c4f00;
}

.dataTables_filter input[type=search] {
  border: 1px solid #1c4f00 !important;
  width: 250px !important;
  height: 3em;
  border-radius: 0;
}

.dataTables_filter input[type=search]:focus {
  box-shadow: none;
}

.btn3 {
  border-color: #af3e3e;
  background: rgba(175,62,62,0.09);
  color: #af3e3e !important;
  font-size: 14px;
  letter-spacing: .3px;
  padding: 8px 18px 9px 18px;
  font-weight: 400;
  border-radius: 0;
}

.btn3:hover {
  background: rgba(175,62,62,0.21);
  color: #af3e3e !important;
  border-color: #af3e3e;
}

.btn2 {
  background: rgba(100,204,141,0.19);
  color: #1c4f00 !important;
  font-size: 14px;
  letter-spacing: .3px;
  padding: 8px 18px 9px 18px;
  font-weight: 300;
  border: 1px solid #1c4f00;
  border-radius: 0;
}

.btn2-1 {
  background: rgba(100,204,141,0.19);
  color: #1c4f00 !important;
  /*font-size: 14px;*/
  letter-spacing: .3px;
  /*padding: 8px 18px 9px 18px;*/
  /*font-weight: 300;*/
  border: 1px solid #1c4f00;
  border-radius: 0;
}

.btn2:hover {
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
  border: 1px solid #1c4f00;
  text-decoration: none;
  cursor: pointer;
}

.btn2-1:hover {
  background: rgba(100,204,141,0.09);
  color: #1c4f00;
  border: 1px solid #1c4f00;
  text-decoration: none;
  cursor: pointer;
}

.btn2:focus, .btn2:active {
  box-shadow: none;
}

.btn2-1:focus, .btn2-1:active {
  box-shadow: none;
}

.bg-coat {
  background-image: url("../../assets/img/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.bg1 {
  background-image: url("../../assets/img/company.svg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-p {
  font-size: 13px;
  letter-spacing: .4px;
  font-weight: 300;
}

.card-h {
  font-weight: 700;
}

.green {
  color: #1c4f00;
}

.red {
  color: rgb(201,10,10);
}

.blue {
  color: rgb(18,128,190);
}

@media (max-width: 480px) {
  .p-xs-0 {
    padding: 0 !important;
  }
}

.card-icon {
  font-size: 35px;
}

.card1:hover i {
  color: #1c4f00;
  transition: .3s;
}

.modal-h {
  font-weight: 600;
}

.modal1 {
  border-radius: 0;
}

.dropdown-btn {
  color: #1c4f00 !important;
  font-size: 12px;
  letter-spacing: .3px;
}

.navlink {
  color: #000 !important;
  font-weight: 300;
}

.navlink.active {
  border: 0px solid rgba(0,0,0,0.03);
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  color: #1c4f00 !important;
}

.nav-tabs {
  border-bottom: 0 !important;
}

th {
  font-size: 14px;
}

td {
  font-size: 13px;
  font-weight: 300;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item:active, .dropdown-item:focus {
  color: #1c4f00 !important;
  letter-spacing: .3px;
  background: #f1f1f1;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  border-radius: 0;
}

.nav-menu-icon {
  font-size: 25px;
}

.dt-buttons {
  top: 40px;
}

@media (max-width: 480px) {
  .dt-buttons {
    margin-bottom: 50px !important;
  }
}

.dataTables_wrapper {
  /*margin-top: -15px;*/
}

.footer-p {
  font-size: 12px;
}

.panel1 {
  border: none;
  box-shadow: 0 4px 20px rgba(217,217,217,0.35) !important;
  border-radius: 0;
}

.h-57 {
  height: 57px;
}

.panel1-header {
  background: none;
  border-bottom: 1px solid rgba(0,0,0,0.03);
}

.m--15 {
  margin-top: -15px;
}

.message-p {
  font-size: 14px;
  font-weight: 300;
}

.panel1-heading {
  font-size: 16px;
  letter-spacing: .3px;
  position: relative;
  top: 5px;
  font-weight: 600;
  width: 80%;
}

.select {
  display: block !important;
}

.select2 {
  display: block;
  border-radius: 0 !important;
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 6px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid rgba(170,170,170,0.52) !important;
  border-radius: 0px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #e9ecef !important;
}

.select2-container--default:focus .select2-selection--single:focus, .select2-container--default:active .select2-selection--single:active {
  box-shadow: none !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1c4f00 !important;
  color: white;
}

.delete-link {
  color: red;
  font-size: 13px;
}

.delete-link:hover {
  color: rgb(211,8,8);
  cursor: pointer;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler-icon i {
  font-size: 40px;
  color: #000;
}

.form-section {
  background: #f6fef2;
  padding: 3px 0px 5px 10px;
  margin-bottom: 10px;
}

.delete-dropdown {
  font-size: 30px;
}

